## Addition of Two Number
additon of 5 and 6

In [1]:
5 + 6

11

In [2]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

In [4]:
2var= 35

SyntaxError: invalid decimal literal (1412916617.py, line 1)

In [5]:
var2 =35
print(var2)

35

In [6]:
var@123 = 'abc'

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1160340033.py, line 1)

In [7]:
First_Name = 'Pragati'
print(First_Name)

Pragati

In [8]:
import = 123

SyntaxError: invalid syntax (4072457488.py, line 1)

In [10]:
Import = 123
print(Import)

123

In [12]:
#single Line comment
val1 = 10
val1

10

In [14]:
# multi line Comments
val =10
val

10

In [15]:
'''Multiple 
Line 
Code Comments'''
val = 10

In [16]:
"""Multiple 
Line 
Code Comments"""
val = 10

In [17]:
pragati

NameError: name 'pragati' is not defined

In [18]:
name = 'Pragati'

In [19]:
10 + 20

30

In [24]:
a = 10 + 20 + 30 \
+ 40 + 50 + 60 \
+ 70 + 80
a

360

In [25]:
'pragati'

'pragati'

In [26]:
k = 30 #variable creation

In [27]:
k

30

In [28]:
print(k)

30

In [29]:
print('The value of k is 30')

The value of k is 30

In [30]:
print('The value of k is :',k)

The value of k is : 30

In [31]:
print('This is print function')

This is print function

In [32]:
print(20)

20

In [33]:
type(k)

int

In [34]:
b= 23.4
type(b)

float

In [35]:
c= 'pragati'
type(c)

str

In [36]:
d= true
type(d)

NameError: name 'true' is not defined

In [37]:
d = True
type(d)

bool

In [38]:
e =false
type(e)

NameError: name 'false' is not defined

In [39]:
e = False
type(e)

bool

## Variable Assignment

In [40]:
intvar =10 #interger variable
floatvar = 10.5
strvar = 'Python'
print(intvar)
print(floatvar)
print(strvar)

10
10.5
Python

## Multiple Assignment

In [41]:
intvar,floatvar,strvar = 10,25.7,'Pyhton'
print(intvar,floatvar,strvar)

10 25.7 Pyhton

In [42]:
p1 = p2 = p3 = p4 = 40
print(p1,p2,p3,p4)

40 40 40 40

## Data Types

In [43]:
import sys

In [46]:
val1 =92
print(val1)
print(type(val1))
print(sys.getsizeof(val1))
print(val1,"is int?",isinstance(val1,int))

92
<class 'int'>
28
92 is int? True

In [50]:
val2 = 92.8
print(val2)
print(type(val2))
print(sys.getsizeof(val2))
print(val2,"is int?",isinstance(val2,float))

92.8
<class 'float'>
24
92.8 is int? True

In [51]:
val3 = 10+11j
print(val3)
print(type(val3))
print(sys.getsizeof(val3))
print(val3,"is complex?",isinstance(val3,complex))

(10+11j)
<class 'complex'>
32
(10+11j) is complex? True

## Booleans

In [4]:
bool1 = True

In [5]:
bool2 = False

In [6]:
type(bool1)

bool

In [7]:
isinstance(bool1,bool)

True

In [8]:
bool(0)

False

In [2]:
bool()

False

In [9]:
bool(21)

True

In [10]:
bool(-98)

True

In [11]:
bool('abc')

True

In [12]:
bool(None)

False

## String

In [13]:
str1 = "Hello Python"
print(str1)

Hello Python

In [14]:
mystr = "Hello World"
print(mystr)

Hello World

## String Indexing

In [15]:
str1 = 'HELLO PYTHON'

In [16]:
str1[6]

'P'

In [17]:
str1[-6]

'P'

In [18]:
str1[0]

'H'

In [19]:
str1[-9]

'L'

In [20]:
str1

'HELLO PYTHON'

In [21]:
len(str1)

12

In [22]:
str1[len(str1)-1] #str[len(12)-1 = str[len(11)]

'N'

In [24]:
str1[-1]

'N'

In [25]:
str1[11]

'N'

In [26]:
str1[6]

'P'

In [27]:
str1[5]

' '

## String Slicing

In [28]:
str1 = 'HELLO PYTHON'

In [29]:
str1

'HELLO PYTHON'

In [30]:
str1[6:12]

'PYTHON'

In [31]:
str1[0:5]

'HELLO'

In [32]:
str2 = 'Data is new fuel'
#Task :- Extract new and data from string

In [41]:
str2[0:16]

'Data is new fuel'

In [49]:
str2[-16:-1]

'Data is new fue'

In [33]:
str2[-6:-9:-1]

'wen'

In [36]:
str2[-9:-12:1]

''

In [37]:
str2[:]

'Data is new fuel'

In [38]:
str2[3:]

'a is new fuel'

In [39]:
str2[:7]

'Data is'

In [40]:
# str1[start:end:step] #Reverse String #interview questions
str2[::-1] # -1 is used to reverse string

'leuf wen si ataD'

## Update and Delete String

In [50]:
str1 = 'Hello Python'

In [51]:
str1[0:2] = 'HI'

TypeError: 'str' object does not support item assignment

In [58]:
str3 = str1.replace('He','HE')
# string.replace('Character to replace','by what value')
# the character should be replaced

In [53]:
str1

'Hello Python'

In [59]:
str3

'HEllo Python'

In [60]:
del str3 #delete a string

In [61]:
str3

NameError: name 'str3' is not defined

In [62]:
str4 = 'Python'
print(str4[0:6:1])
print(str4[-1:6:-1])
print(str4[::-1])

Python

nohtyP

## String Concatenation

In [1]:
# String concatenation
s1 = 'Data'
s2 = 'Science'
s3 = s1 +s2

In [63]:
s3

'DataScience'

In [64]:
s3 = s1 + " " + s2

In [65]:
2 + 3

5

In [66]:
'data'+' '+'science'

'data science'

## String Membership

In [67]:
# String membership
mystr1 = "Hello Everyone"

In [1]:
'Hello' in mystr1

NameError: name 'mystr1' is not defined

In [69]:
'hello' in mystr1

False

In [70]:
'Everone' in mystr1

False

In [71]:
name = 'pRagati Jain'
'pRagati' in name

True

## String Partioning

In [72]:
"""
The partition() method searches for a specified string and splits the string into
 - The first element contains the part before the argument string.
 - The second element contains the argument string.
 - The third element contains the part after the argument string.
"""
str5 = "Natural language processing with Python and R And Java"
str5 = 'Natural Language processing with python and R and Java'
L = str5.partition('and')
L

('Natural Language processing with python ', 'and', ' R and Java')

## String Function

In [73]:
mystr2 = "Hello Everyone"
mystr2

'Hello Everyone'

In [74]:
mystr2.count('e')

3

In [75]:
mystr2.count('E')

1

In [76]:
mystr2.strip() #return a copy of the staring with leading and trailing WhiteSpace removed

'Hello Everyone'

In [77]:
mystr2

'Hello Everyone'

In [78]:
mystr3 = " Hello World "
mystr3

' Hello World '

In [79]:
mystr3.rstrip()

' Hello World'

In [80]:
mystr3.lstrip()

'Hello World '

In [81]:
mystr3 = "************Hello***********All the best**********"
mystr3

'************Hello***********All the best**********'

In [82]:
mystr3.strip()

'************Hello***********All the best**********'

In [83]:
mystr3.strip('*')

'Hello***********All the best'

In [84]:
mystr3.rstrip('*')

'************Hello***********All the best'

In [85]:
mystr3.lstrip()

'************Hello***********All the best**********'

In [86]:
mystr3.lstrip('*')

'Hello***********All the best**********'

In [87]:
mystr3.lower()

'************hello***********all the best**********'

In [92]:
mystr3.upper()

'************HELLO***********ALL THE BEST**********'

In [103]:
mystr3

'************Hello***********All the best**********'

In [104]:
mystr3.startwith('He')

AttributeError: 'str' object has no attribute 'startwith'

In [95]:
mystr3.endwith('He')

AttributeError: 'str' object has no attribute 'endwith'

In [99]:
mystr4 = "Hello everyone how are you"
mystr4

'Hello everyone how are you'

In [97]:
mystr4,spilt()

NameError: name 'spilt' is not defined

In [100]:
mystr4

'Hello everyone how are you'

In [101]:
mystr4.split()

['Hello', 'everyone', 'how', 'are', 'you']

In [102]:
mystr4.split('e')

['H', 'llo ', 'v', 'ryon', ' how ar', ' you']

In [105]:
#combing string & numbers  using format method
item1 =40
item2 =55
item3 =77
print("Cost of item2,item1,item3,{},{},{}".format(item2,item1,item3))

Cost of item2,item1,item3,55,40,77

In [106]:
print("Cost of item1,item2,item3",item1,item2,item3)

Cost of item1,item2,item3 40 55 77

In [107]:
a= 5
b= 3
c= 9
print("The value of a is {} and b is{} and c is {}".format(a,b,c))

The value of a is 5 and b is3 and c is 9

## Typecasting

Auto TypeCasting

In [108]:
4 + 5.67 + False 
##(backgdround processing of the code) due to the higher hiearchy of float datatype

9.67

In [109]:
4 + 5.6 + False + True

10.6

In [110]:
 4 + 3 + 'data' + 6.7

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [111]:
True + 4.6

5.6

## Forced Typecasting

In [112]:
a = 9.7

In [113]:
type(a)

float

In [114]:
int(a)

9

In [115]:
bool(a)

True

In [116]:
str(a)

'9.7'

In [117]:
type(a)

float

In [118]:
a = 5

In [119]:
int(a)

5

In [120]:
bool(a)

True

In [121]:
type(a)

int

In [122]:
str(a)

'5'

In [123]:
str(2) + str(4)

'24'

In [124]:
a = False

In [125]:
int(a)

0

In [126]:
float(a)

0.0

In [127]:
str(a)

'False'

In [128]:
bool(a)

False

In [129]:
type(a)

bool

In [130]:
a = True

In [131]:
int(a)

1

In [132]:
float(a)

1.0

In [133]:
str(a)

'True'

In [134]:
type(bool)

type

In [135]:
a = 'abc'

In [136]:
int(a)

ValueError: invalid literal for int() with base 10: 'abc'

In [137]:
int(a)

ValueError: invalid literal for int() with base 10: 'abc'

In [138]:
bool(a)

True

In [139]:
int(a)

ValueError: invalid literal for int() with base 10: 'abc'

In [140]:
float(a)

ValueError: could not convert string to float: 'abc'

In [141]:
float(True)

1.0

In [142]:
flaot(False)

NameError: name 'flaot' is not defined

In [143]:
float(False)

0.0

In [144]:
bool(8.9)

True

In [145]:
bool(0)

False

In [146]:
bool(-1)

True

In [2]:
int(5.9)

5

In [4]:
#Guess the Output
int(1.5)+4+bool(0)

5

In [5]:
int(5.6)+float(6)+bool(23)

12.0

In [6]:
int(6.5)+1.2+int(5.5)+bool(0)

12.2

In [7]:
str(5)

'5'

In [8]:
str(9.0)

'9.0'

In [9]:
str(True)

'True'

In [10]:
str(False)

'False'

In [11]:
2+'2'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
'2' '2'

'22'

In [13]:
str(2) + '2'

'22'

## Operators in Python

### Arithmetic Operator

In [14]:
a = 20
b = 30
x = 'Data'
y = 'Science'

In [15]:
# Additon
c =a+b
print(c)

50

In [16]:
# Concatenate string using plus operator
z = x + y
print(z)

DataScience

In [18]:
# Sunbstraction
c = a - b
print(c)

-10

In [20]:
# Multiplication
c = a * b
print(c)

600

In [21]:
# division
c = a / b
print(c)

0.6666666666666666

In [23]:
# modulo
c = a % b
print(c)

20

In [24]:
# Power
c = a ** b
print(c)

1073741824000000000000000000000000000000

In [25]:
 #  floor Division
c = a // b
print(c)

0

## Comparison Operator

In [30]:
x = 20
y = 30
print("Is x greater than y :",x>y)
print("Is x less than y :",x<y)
print("Is x equal to than y :",x==y)
print("Is x not equal to y :",x!=y)
print("Is x greater than equal to y :",x>=y)
print("Is x less than equal y :",x<=y)

Is x greater than y : False
Is x less than y : True
Is x equal to than y : False
Is x not equal to y : True
Is x greater than equal to y : False
Is x less than equal y : True

## Logical Operator

In [33]:
x = True
y = False
print("Logical And Operation : ",x and  y)
print("Logical OR Operation : ",x or  y)
print("Logical NOT Operation : ",not  y)

Logical And Operation :  False
Logical OR Operation :  True
Logical NOT Operation :  True

## If Conditional Statements

In [36]:
a = 8
if a>6:
    print("Hello")
print("Bye")

Hello
Bye

In [38]:
x = -23
if x > 0:
    print(' i am in if block')
else:
    print('i am not in if block')

i am not in if block

## Input Function

In [40]:
a = input("Enter the Name : ")

Enter the Name : Pragati

In [41]:
print(a)

Pragati

In [42]:
a = int(input("Enter the number"))

Enter the number4

In [43]:
a

4

In [47]:
a =int(input("Enter the number :"))
if(a > 10):
    print("i am in block")
elif(a==6):
    print("i am in block")
elif(a==0):
    print('Zero number')
else :
    print('I am in else block')

Enter the number :0
Zero number

In [50]:
# write a program odd or even number
a = int(input("Enter the number :"))
if (a % 2 == 0):
    print("Even number")
else:
    print("Odd  Number")

Enter the number :10
Even number

In [52]:
i = 10
if(i == 10):
    if(i < 15):
         print(i,"is Smaller than 15")
    
    if(i < 12):
        print('i is smaller than 12 too')
    else:
        print("i is greater than 15")

10 is Smaller than 15
i is smaller than 12 too

## Datetime package

In [53]:
from datetime import date

In [54]:
my_date = date(1998,3,6)

In [55]:
my_date

datetime.date(1998, 3, 6)

In [56]:
#Getting today's date
today_date = date.today()

In [57]:
today_date

datetime.date(2024, 5, 15)

In [58]:
today_date.isoweekday()

3

In [59]:
todya_date.year()

NameError: name 'todya_date' is not defined

In [60]:
today_date.year()

TypeError: 'int' object is not callable

In [61]:
today_date.year

2024

In [62]:
#Get Today Year,Month,And Date
print('Current Year',today_date.year)
print('Current Year',today_date.month)
print('Current Year',today_date.day)

Current Year 2024
Current Year 5
Current Year 15

In [63]:
# Get date from datetime sub module
from datetime import datetime as dt

In [64]:
date1 = dt.now()

In [65]:
date1

datetime.datetime(2024, 5, 15, 13, 22, 34, 867251)

In [66]:
#Time Submodule
from datetime import time

In [67]:
my_time = time(7,8,45)

In [68]:
my_time

datetime.time(7, 8, 45)

In [71]:
#Timedata function demonstration
from datetime import date,timedelta

current_date = date.today()
#calculating future dates
#for 730
Date_After2yrs = current_date + timedelta(days = 730)
Date_After2yrs

datetime.date(2026, 5, 15)

In [50]:
# Calculate age After 5000 Days 
# Output or age should be in years

from datetime import date,timedelta
my_date = date(1998,3,6)

today_date = date.today()

# age = (today_date - my_date).days // 365

# print("Age is : ",age,"Years")

Date_after_5k_days = today_date + timedelta(days = 5000)
print("Date after 5000 days :",Date_after_5k_days)

# Calculate age after 5000 days
age_after_5k_days= (Date_after_5k_days - my_date).days // 365
print("Age after 5000 days :",new_age,"Years")

Date after 5000 days : 2038-01-23
Age after 5000 days : 39 Years

## Data Structures in Python

In [1]:
#List Creation
l1 = []

In [2]:
l1

[]

In [3]:
type(l1)

list

In [4]:
a = [1,2,3,4]
a

[1, 2, 3, 4]

In [5]:
l3 = [12.3,34.5,56.23,5.3]
l3

[12.3, 34.5, 56.23, 5.3]

In [6]:
l4 = ['ABC','PQR','RES']
l4

['ABC', 'PQR', 'RES']

In [7]:
l6 = [100,'Data',17.765] 
l6

[100, 'Data', 17.765]

In [8]:
a = ['one','two','three','Four','Five','Six','Seven','Eight']
a

['one', 'two', 'three', 'Four', 'Five', 'Six', 'Seven', 'Eight']

## Add,Remove and Change Items

In [10]:
a.append('nine')

In [11]:
a

['one', 'two', 'three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'nine']

In [14]:
a.insert(3,'ten')

In [15]:
a

['one', 'two', 'three', 'ten', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'nine']

In [16]:
a.extend(1,2,3)

TypeError: list.extend() takes exactly one argument (3 given)

In [19]:
a.extend([1,2,3])

In [20]:
a

['one',
 'two',
 'three',
 'ten',
 'Four',
 'Five',
 'Six',
 'Seven',
 'Eight',
 'nine',
 1,
 2,
 3]

In [23]:
a.pop() # remove last element from list

3

In [25]:
a.pop()

2

In [26]:
a.pop()

1

In [27]:
a

['one', 'two', 'three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'nine']

In [28]:
a.append('ten')

In [29]:
a

['one', 'two', 'three', 'Four', 'Five', 'Six', 'Seven', 'Eight', 'nine', 'ten']

In [30]:
a.pop(8) # remove item at index location 8

'nine'

In [ ]:
a.remove() # remove item "One"(Value)

del a[7] # remove item at index location 7

a.clear() # Empty list / delete all item in the list

del a # delete entire list

## Join List

In [32]:
list1 = ['one','two','three','four']
list2 = ['five','six','seven','eight']

list3 = list1 + list2 
list3

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

## List Membership

In [33]:
'one' in list1  #check if 'one' exist in list

True

## Reverse and sort

In [35]:
list1 = [5,1,4,6,7, 9]
list1.reverse()
list1

[9, 7, 6, 4, 1, 5]

In [38]:
mylist3 = [5,1,4,6,7,9]
mylist3.sort(reverse = True)
mylist3

[9, 7, 6, 5, 4, 1]

## Any / All

In [39]:
l1 = [1,2,3,4,5]
l3 = [1,2,3,4,0]

In [41]:
any(l1)

True

In [42]:
all(l1)

True

In [43]:
all(l3)

False

In [44]:
any(l3)

True

## Tuples

In [45]:
tup1 = () #tuple creation

In [46]:
type(tup1)

tuple

In [48]:
tup2 = (10,20,30)
tup3 = (10.77,20.66,30.78)
tup4 = ('one','two','three')
tup5 = (100,'Data',17.765)

In [49]:
print(tup2)

(10, 20, 30)

In [3]:
tup2
tup2[1]

NameError: name 'tup2' is not defined

## List Membership

In [50]:
tup6 = ('one','two','three','four''five','six','seven','eight')
'one' in tup6

True

## Sorting

In [61]:
mytuple = [43,20,10,16,78]
sorted(mytuple)

[10, 16, 20, 43, 78]

## Tuple Slicing

In [62]:
tup6 = ('one','two','three','four''five','six','seven','eight')
tup6[0:3]

sorted(mytuple,reverse = True)

[78, 43, 20, 16, 10]

## Remove and Change Items

In [53]:
mytuple

NameError: name 'mytuple' is not defined

In [54]:
tup6

('one', 'two', 'three', 'fourfive', 'six', 'seven', 'eight')

In [55]:
del tup6[0]

TypeError: 'tuple' object doesn't support item deletion

In [56]:
del tup6

In [57]:
tup6

NameError: name 'tup6' is not defined

## Count

In [59]:
tup6 = ('one','one','two','three','four''five','six','seven','eight')
tup6.count('one')

2

## Tuple Membership

In [60]:
'one' in tup6

True

## Sets

In [65]:
myset = {}
type(myset)

dict

In [66]:
myset = set()
print(type(myset))

<class 'set'>

In [67]:
myset = {1,2,3,4,5}
myset

{1, 2, 3, 4, 5}

In [68]:
my_set = {1,1,2,2,3,4,5,5}
my_set

{1, 2, 3, 4, 5}

In [69]:
myset1 = {1.79,2.08,3.99,4.56,5.45}
myset1

{1.79, 2.08, 3.99, 4.56, 5.45}

In [70]:
myset2 = {'Data','John',"Tyrion",'John'}
myset2

{'Data', 'John', 'Tyrion'}

In [71]:
myset3 = {'one','two','three','four','five','six','seven','eight'}
'nine' in myset3

False

## Add and remove Item

In [72]:
myset ={2,3,4}

In [73]:
myset.add('9')

In [74]:
myset[1]

TypeError: 'set' object is not subscriptable

In [75]:
myset.update(['Ten','Eleven','Twelve'])
myset

{2, 3, 4, '9', 'Eleven', 'Ten', 'Twelve'}

In [76]:
myset.pop()

2

In [77]:
myset.remove('Ten')

In [78]:
myset.discard('9')
myset

{3, 4, 'Eleven', 'Twelve'}

In [79]:
myset.clear()

In [85]:
del myset
myset

NameError: name 'myset' is not defined

## Set Operation

In [86]:
a = {1,2,3,4,5}
b = {4,5,6,7,8}
c = {8,9,10}

In [87]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [88]:
b.union(c)

{4, 5, 6, 7, 8, 9, 10}

In [89]:
a.union(b,c)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [90]:
a.intersection(b)

{4, 5}

In [91]:
a.difference(b)

{1, 2, 3}

In [92]:
b.difference(c)

{4, 5, 6, 7}

## Dictionary

In [4]:
mydict = dict()
mydict

{}

In [5]:
type(mydict)

dict

In [6]:
mydict = {1:'one',2:'two',3:'theree'}
mydict

{1: 'one', 2: 'two', 3: 'theree'}

In [7]:
mydict.keys()

dict_keys([1, 2, 3])

In [8]:
mydict.values()

dict_values(['one', 'two', 'theree'])

In [9]:
,ydict.items()

NameError: name 'ydict' is not defined

In [10]:
mydict.items()

dict_items([(1, 'one'), (2, 'two'), (3, 'theree')])

In [11]:
d ={0:{'one':1,'two':2,'three':3,'four':4},
    1:{'city':'Banglore','area':'Kudalu'},
    'three':{'city':'mumbai','area':'Dharavi'}}
d[1]['area']

'Kudalu'

In [12]:
d['three']['city']

'mumbai'

## Add,Remove and Change Items

In [13]:
mydict1 = {'Name':'Data','ID':12345,'DOB':1991,
          'Address':'Hilsinki'}
mydict1

{'Name': 'Data', 'ID': 12345, 'DOB': 1991, 'Address': 'Hilsinki'}

In [15]:
mydict1.update({'key':'value1'})

In [16]:
mydict1

{'Name': 'Data',
 'ID': 12345,
 'DOB': 1991,
 'Address': 'Hilsinki',
 'key': 'value1'}

In [17]:
mydict1['DOB'] = 1992
mydict1

{'Name': 'Data',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1'}

In [18]:
mydict1['Job'] = 'Analyst'
mydict1

{'Name': 'Data',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1',
 'Job': 'Analyst'}

In [19]:
mydict1.pop('Job')
mydict1

{'Name': 'Data',
 'ID': 12345,
 'DOB': 1992,
 'Address': 'Hilsinki',
 'key': 'value1'}

In [20]:
del[mydict['ID']]
mydict1

KeyError: 'ID'

In [21]:
mydict1.clear()
# del mydict1
mydict

{1: 'one', 2: 'two', 3: 'theree'}

34 is even
66 is even
43 is odd
23 is odd
27 is odd
88 is even
74 is even
14 is even